.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

/* GREEN TOP */
.hero-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65%;
  background: #4EF2B4;
  border-bottom-left-radius: 120% 20%;
  border-bottom-right-radius: 120% 20%;
  z-index: 1;
}

/* BLUE BOTTOM */
.hero-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  background: #B6ECF7;
  border-top-left-radius: 120% 30%;
  border-top-right-radius: 120% 30%;
  z-index: 0;
}

/* CONTENT */
.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 7%;
}

/* IMAGE */
.hero-image {
  width: 40%;
}

.hero-image img {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  object-fit: cover;
}

/* TEXT */
.hero-text {
  width: 60%;
  color: white;
  padding-left: 80px;
}

.hero-text h1 {
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 25px;
}

.hero-text p {
  font-size: 16px;
  max-width: 520px;
  color: rgba(255,255,255,0.9);
}
